<!doctype html>  
<html lang="en"> 

<head>
	<title>{{page_title}}</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="/favicon.ico"/>

	<link rel="stylesheet" type="text/css" href="/style/{{c.ver}}/map2.css" />

	<script>

	var API_DATE_FORMAT = 'Y-m-d';
	var API_TIME_FORMAT = 'H:i:s';
	var API_DATE_TIME_FORMAT = 'Y-m-d H:i:s';
	
	var NAVDATA_SERVER = "{{c.servers.navdata}}";
	var CROSSFEED_URL = "{{c.servers.crossfeed}}";
	var STATIC_SERVER = "{{c.servers.static}}";
	
	</script>


	{% block header %}
	{% endblock %}


</head>


<body>

	{% block content %}
	{% endblock %}

</body>
</html>
