<!DOCTYPE html>
<html lang="en">
<head>
    <title>FGx sencha.touch mobile</title>
	<meta charset="UTF-8"/>
    
	<link href="http://extjs.cachefly.net/touch/sencha-touch-2.0.0/resources/css/sencha-touch.css" 
		rel="stylesheet" type="text/css"></link>
	<script src="http://extjs.cachefly.net/touch/sencha-touch-2.0.0/sencha-touch-all.js" 
		type="text/javascript"></script>

	<!-- Options -->
	{# TODO
	<link rel="apple-touch-startup-image" media="screen and (resolution: 326dpi)" href="img/startup_640.png" />
	<link rel="apple-touch-startup-image" media="screen and (resolution: 163dpi)" href="img/startup.png" />
	<link rel="apple-touch-icon-precomposed" media="screen and (max-resolution: 325dpi)" href="img/icon_57.png" />
	<link rel="apple-touch-icon-precomposed" media="screen and (min-resolution: 326dpi)" href="img/icon_114.png" />
	#}
</head>
<body>
    


	<script src="/fgx_touch/app.js" 
		type="text/javascript"></script>



</body>

</html>
